.container-fluid {
  color: rgb(160, 76, 76);
}
.navbar-nav {
  color: rgb(160, 76, 76);
}
.nav-link li a {
  color: rgb(160, 76, 76);
}
.nav-item {
  color: rgb(160, 76, 76);
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  color: rgb(230, 109, 109);
}
.navbar {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  padding: 0;

}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  font-weight: 600;
  float: right;
  text-align: left;
}
.fa-bars {
  color: rgb(160, 76, 76);
  font-size: 30px;
}
.navbar-toggler {
  outline: none;
}
#banner {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: rgb(160, 76, 76);
  height: 80px;
}
.main_title {
  margin-top: 15px;
  padding: 15px;
  margin-left: -15px;
}
.sub_title {
  color: whitesmoke;
  font-size: 15px;
  margin-top: 100px;
}
#footer {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: #fff;
}
.footer-box {
  padding: 20px;
}
.footer-box img {
  width: 120px;
  margin-bottom: 20px;
  border-radius: 100%;
}

.logopic {
  border-radius: 50%;
  height: 49px;
  margin-left: 8px;
  width: 48px;
}
.navbar {
  background-color: black;
}
.container-fluid {
  color: rgb(160, 76, 76);
}
.navbar-nav {
  color: rgb(160, 76, 76);
}
.nav-link li a {
  color: rgb(160, 76, 76);
}
.nav-item {
  color: rgb(160, 76, 76);
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  color: rgb(160, 76, 76);
}
.navbar {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  padding: 0;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  font-weight: 600;
  float: right;
  text-align: left;
}
.fa-bars {
  color: #fff;
  font-size: 30px;
}
.navbar-toggler {
  outline: none;
}
----------------------------banner section------------------/ #banner {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: rgb(160, 76, 76);
}
.promo-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}
.img-fluid {
  height: 100px;
  width: 300px;
  margin-bottom: 50px;
  border-radius: 100%;
}
#services {
  padding: 80px 0;
}
.service-img {
  width: 200px;
  height: 150px;
  margin-top: 20px;
  border-radius: 5%;
}
.service-img1 {
  width: 200px;
  height: 150px;
  margin-top: 20px;
  border-radius: 5%;
}
.services h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}
.title::before {
  content: "";
  background: #7b1798;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
.title::after {
  content: "";
  background: #7b1798;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}
#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}
#our-mission {
  padding-bottom: 50px;
  padding-top: 50px;
}
.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}
#about-us ul li {
  margin: 10px 0;
}
#about-us ul {
  margin-left: 20px;
}

#social-media {
  padding: 100px 0;
}
#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.social-icons img {
  padding: 10px;
  width: 60px;
  transition: 0.5s;
}
.social-icons a:hover img {
  transform: translateY(-10px);
}
#footer {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: #fff;
}
.footer-box {
  padding: 20px;
}
.footer-box img {
  width: 120px;
  margin-bottom: 20px;
  border-radius: 100%;
}
.gradient-custom {
  /* fallback for old browsers */
  background-color: #f093fb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to bottom right,
    rgba(240, 147, 251, 1),
    rgba(245, 87, 108, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to bottom right,
    rgba(240, 147, 251, 1),
    rgba(245, 87, 108, 1)
  );
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}
.hero {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}
.row {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}
.vh-100 {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}
form {
  opacity: 0.3;
}
